.history {
  width: 50%;
  margin: auto;
  padding-top: 98px;
}

.history__title {
  font-size: 20px;
  font-family: "Cabin";
  color: rgb(7, 2, 2, 0.6);
}

.history__items {
  padding-left: 0;
}
.history__items li {
  list-style-type: none;
  font-family: "Cabin";
  font-size: 18px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.23);
  text-align: center;
  padding: 12px;
}

.history__items li span {
  padding: 16px;
}

@media (min-width: 768) {
  .history {
    padding: 18px;
    padding-left: px;
  }

  .history__items li {
    width: 62%;
  }
}
