.results {
  width: 50%;
  margin: auto;
  padding: 18px;
  padding-left: 196px;
  padding-top: 22px;
}

.results__text {
  display: inline;
  font-size: 20px;
  font-family: "Cabin";
  color: rgb(7, 2, 2, 0.4);
}

.results__value {
  display: inline;
  color: rgb(7, 2, 2);
  font-weight: bold;
  font-size: 20px;
  font-family: "Cabin";
}
